body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
  height: 100%;
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

.todo-title {
  cursor: pointer;
}

.completed-todo {
  text-decoration: line-through;
}

.todoItems {
  /* padding: 10ex;/ */
  margin-top: 5ex;
  margin-bottom: 5ex;
}
.doneItems {
  /* padding: 10ex;/ */
  margin-top: 5ex;
  margin-bottom: 5ex;
}
.tab-list > span {
  padding: 5px 8px;
  border: 1px solid #282c34;
  border-radius: 10px;
  margin-right: 5px;
  cursor: pointer;
}

.tab-list > span.active {
  background-color: #282c34;
  color: #ffffff;
}
